<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
<body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<div class = "head">
  
  <br>
  <h1 class = 'sty'value="petInfO">petInfO<i class='fas fa-paw' style='font-size:36px'></i>
    
 </h1>
  <div class="srch">
    <form class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="ic">

<div class="dropdown">
  <!-- <button class="dropbtn"> -->
    <i class="bi bi-person" style='font-size:48px;color:white'></i>
  <!-- </button> -->
  <div class="dropdown-content">
    <a href="">Account</a>
    <a href="http://localhost:4200/login">Logout</a>
    
  </div>
  
  </div>

</div>
 
</div>

<div class="hea">

<div class="hom" >  
  <a href="http://localhost:4200/home" ><i class="bi bi-house" style="color: white;font-size:40px"></i></a>
  </div><h5 style="color: white; padding-top:25px;">Home</h5>



  <div class="food" >  
    <a href="http://localhost:4200/food" ><i class='fas fa-drumstick-bite' style="color: white;font-size:40px"></i></a>
    </div><h5 style="color: white; padding-top:25px;">Food</h5>

    <div class="health" >  
      <a href="http://localhost:4200/docter" ><i class="fa fa-user-md" style="color: white;font-size:40px"></i></a>
      </div><h5 style="color: white; padding-top:25px;">Docter conseltence</h5>


    </div>
    <br>
    <br>





<div class="bullb">
   <div class="norm">
<img src="assets/beagal/beg1.jpg" style="height: 450px; width: 500px;">
 </div>

 <div class="norm2">
    <img src="assets/beagal/beg2.jpg" style="height: 210px; width: 300px;">
     <br>
     <br>
        <img src="assets/beagal/beg3.jpg"  style="height: 210px; width: 300px;">
    
         </div>
         <div class="norm">
         <img src="assets/beagal/beg4.jpg"  style="height: 450px; width: 470px;">
         </div>
</div>
<br>
  <div class="colo">
    <h2>Beagal Dog</h2>
  </div>
  <p class="par">
    The beagle is a breed of small scent hound, similar in appearance to the much larger foxhound. The beagle was developed primarily for hunting hare, known as beagling. Possessing a great sense of smell and superior tracking instincts, the beagle is the primary breed used as a detection dog for prohibited agricultural imports and foodstuffs in quarantine around the world. The beagle is intelligent and is a popular pet due to its size, good temper, and a lack of inherited health problems.

The modern breed was developed in Great Britain around the 1830s from several breeds, including the Talbot Hound, the North Country Beagle, the Southern Hound, and possibly the Harrier.

Beagles have been depicted in popular culture since Elizabethan times in literature and paintings and more recently in film, television, and comic books.
  </p>
  
  <hr>
  <br>
  <br>
    <div class="colo">
    <h4><b>Height:</b>&nbsp;Male: 36–41 cm, Female: 33–38 cm</h4></div>
    <div class="colo">
      <h4><b>Life expectancy:</b> &nbsp;12 – 15 years</h4></div>
      <div class="colo">
        <h4><b>Colors:</b>&nbsp;Lemon & White, Tri-color, Chocolate Tri, White & Tan, White & Chocolate, Orange & White, Red & White</h4></div>
   
        <div class="colo">
          <h4><b>Origin:</b>&nbsp;United Kingdom, England, Great Britain</h4></div>
          <div class="colo">
            <h4><b>Weight:</b>&nbsp;Male: 10–11 kg, Female: 9–10 kg</h4></div>
            <div class="colo">
              <h4><b>Scientific name:</b>&nbsp;Canis lupus familiaris</h4></div>
          

            <br>
  <div class="colo">
    <h2>Appearance</h2>
  </div>
  <p class="par">
    Bulldogs have characteristically wide heads and shoulders along with a pronounced mandibular prognathism.
     There are generally thick folds of skin on the brow; round, black, wide-set eyes; a short muzzle with
      characteristic folds called a rope or nose roll above the nose; hanging skin under the neck; drooping
       lips and pointed teeth, and an underbite with an upturned jaw. The coat is short, flat, and sleek with
        colours of red, fawn, white, brindle, and piebald. They have short tails that can either hang down
         straight or be tucked in a coiled "corkscrew" into a tail pocket.

In the United Kingdom, the breed standards are 55 lb (25 kg) for a male and 50 lb (23 kg) for a female.[19]
 In the United States, the standard calls for a smaller dog — a typical mature male weighs 50 lb (23 kg), 
 while mature females weigh about 40 lb (18 kg).
  </p>

  <hr>
  <br>
  <div class="colo">
    <h2>Temperament</h2>
  </div>
  <p class="par">
    According to the American Kennel Club (AKC), a Bulldog's disposition should be "equable and kind,
     resolute, and courageous (not vicious or aggressive), and demeanor should be pacifist and dignified. 
     These attributes should be countenanced by the expression and behavior".

Breeders have worked to remove aggression from the breed. Most have a friendly, patient, but stubborn nature
. Bulldogs are recognized as excellent family pets because of their tendency to form strong bonds with children.

Generally, Bulldogs are known for getting along well with children, other dogs, and other pets.
  </p>
  <br>
  <hr>
  
     <div class="colo">&nbsp;
     <h2>Diseases are common for Beagal</h2></div> 
     <p class="par"><b>Ear Infections:</b></p>
     <p class="par">Beagles are beloved for their long, floppy ears, but those ears do require some extra care.
       Because they cover the ear opening completely, there is reduced air flow in the ear canal. This creates
        a moist, dark environment that allows bacteria and yeast to grow. When the yeast grow in abundance, 
        the result is an ear infection.  

        Beagles with ear infections will scratch excessively at their ears. You might even notice a yeasty smell. 
To prevent this, regularly clean your dog’s ears with a good-quality ear cleanser. Even with regular cleaning,
 ear infections may still occur. If your Beagle gets an ear infection, your vet may recommend topical and oral
  medications. If you notice your Beagle scratching at their ears, schedule a vet appointment.</p>
       
       
 
    <br>
     <p class="par"><b>Obesity. </b></p>
     <p class="par">Despite being a high-energy breed, obesity is very common among Beagles.
       Most Beagles have an insatiable appetite along with a very strong sense of smell. If allowed, most will 
       overeat and seek out any food within reach. Pet parents need to measure their Beagle’s food consumption
        carefully and keep any temptations out of reach. Your vet can help you figure out how much and how 
        often to feed your Beagle. .</p>
       
         <p class="par">
      
      It's not uncommon for vets to see Beagles who’ve eaten something they shouldn't have. This can result 
      in vomiting, diarrhea, and pancreatitis, and may require surgery to remove ingested food packaging or
       other materials. Make sure to keep all food other than their own out of their reach. </p> 
 
     <p class="par"><b>Allergies:</b></p>
     <p class="par">Beagles can be prone to environmental and food allergies and may start to scratch 
      excessively. About 75% of their ear infections are caused by allergies. If your Beagle experiences 
      allergies, there are many treatments your veterinarian can recommend.  </p>
 <hr>
 <p class="par"><b>Cherry Eye:</b></p>
     <p class="par">A prolapsed nictitans gland in the eye, commonly referred to as "cherry eye,” is 
      common in Beagles. This condition happens when the tear gland is inflamed, becoming visible in the
       lower inner corner of the eye. This condition is usually not painful, but it can lead to eye infections. Cherry eye can occur in one or both eyes. Some cases resolve on their own, while others may need surgery.   </p>
 <hr>
        <div class="colo">&nbsp;
         <h2>Most common cause of death in Beagal</h2></div> 
         &nbsp;
         <p class="par">Cancer is the most common cause of death in older pets, and beagles are especially 
          prone to a certain kind of cancer called lymphoma. Half of all cancers are cured by surgically 
          removing them, and some types are treatable with chemotherapy.</p>&nbsp;
       
</body>
</html>