<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
<body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<div class = "head">
  
  <br>
  <h1 class = 'sty'value="petInfO">petInfO<i class='fas fa-paw' style='font-size:36px'></i>
    
 </h1>
  <div class="srch">
    <form class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="ic">

<div class="dropdown">
  <!-- <button class="dropbtn"> -->
    <i class="bi bi-person" style='font-size:48px;color:white'></i>
  <!-- </button> -->
  <div class="dropdown-content">
    <a href="">Account</a>
    <a href="http://localhost:4200/login">Logout</a>
    
  </div>
  </div></div></div>

  <div class="hea">
    <div class="hom" >  
      <a href="http://localhost:4200/home" ><i class="bi bi-house" style="color: white;font-size:40px"></i></a>
      </div><h5 style="color: white; padding-top:25px;">Home</h5>
  
  
      <div class="food" >  
        <a href="http://localhost:4200/food" ><i class='fas fa-drumstick-bite' style="color: white;font-size:40px"></i></a>
        </div><h5 style="color: white; padding-top:25px;">Food</h5>


        <div class="health" >  
          <a href="http://localhost:4200/docter" ><i class="fa fa-user-md" style="color: white;font-size:40px"></i></a>
          </div><h5 style="color: white; padding-top:25px;">Docter conseltence</h5>
  
  
        </div>
    
  <br>

  <h1 class="colo"><u>Dogs</u></h1>
  <br><br>

  <div class="pat">

  <button  class="pets" >
  <img src="assets/Bulldog.jpg" class="pets"><h5  class="pat">Bulldog</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button  class="pets" >
    <img src="assets/Golde.jpg" class="pets"><h5  class="pat">Golden Retriever</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button  class="pets" >
   <img src="assets/germ.jpg" class="pets"><h5  class="pat">German Shepherd</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   <button  class="pets" >
    <img src="assets/pool.jpg" class="pets"><h5  class="pat">Poodle</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>

    <div class="pat">

    <button  class="pets" >
      <img src="assets/frise.jpg" class="pets"><h5  class="pat">Bichon Frisé</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button  class="pets" >
      <img src="assets/frenchbu.jpg" class="pets"><h5  class="pat">French Bulldog</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button  class="pets" >
      <img src="assets/shusky.jpg" class="pets"><h5  class="pat">Siberian Husky</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button  class="pets" >
      <img src="assets/amalamute.jpg" class="pets"><h5  class="pat">Alaskan Malamute</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

    <div class="pat">
    <button  class="pets" >
      <img src="assets/chihu.jpg" class="pets"><h5  class="pat">Chihuahua</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button  class="pets" >
      <img src="assets/border.jpg" class="pets"><h5  class="pat">Border Collie</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button  class="pets" >
      <img src="assets/chow.jpg" class="pets"><h5  class="pat">Chow Chow</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button  class="pets" >
      <img src="assets/rott.jpg" class="pets"><h5  class="pat">Rottweiler</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </div>

</body>
</html>