<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
<body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<div class = "head">
  
  <br>
  <h1 class = 'sty'value="petInfO">petInfO<i class='fas fa-paw' style='font-size:36px'></i>
    
 </h1>
  <div class="srch">
    <form class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="ic">

<div class="dropdown">
  <!-- <button class="dropbtn"> -->
    <i class="bi bi-person" style='font-size:48px;color:white'></i>
  <!-- </button> -->
  <div class="dropdown-content">
    <a href="">Account</a>
    <a href="http://localhost:4200/login">Logout</a>
    
  </div>
  
  </div>

</div>
 
</div>

<div class="hea">

<div class="hom" >  
  <a href="http://localhost:4200/home" ><i class="bi bi-house" style="color: white;font-size:40px"></i></a>
  </div><h5 style="color: white; padding-top:25px;">Home</h5>



  <div class="food" >  
    <a href="http://localhost:4200/food" ><i class='fas fa-drumstick-bite' style="color: white;font-size:40px"></i></a>
    </div><h5 style="color: white; padding-top:25px;">Food</h5>

    <div class="health" >  
      <a href="http://localhost:4200/docter" ><i class="fa fa-user-md" style="color: white;font-size:40px"></i></a>
      </div><h5 style="color: white; padding-top:25px;">Docter conseltence</h5>


    </div>
    <br>
    <br>





<div class="bullb">
   <div class="norm">
<img src="assets/bulldog/bull.jpg" style="height: 450px; width: 500px;">
 </div>

 <div class="norm2">
    <img src="assets/bulldog/bull2.jpg" style="height: 210px; width: 300px;">
     <br>
     <br>
        <img src="assets/bulldog/bull3.jpg"  style="height: 210px; width: 300px;">
    
         </div>
         <div class="norm">
         <img src="assets/bulldog/bull4.jpg"  style="height: 450px; width: 470px;">
         </div>
</div>
<br>
  <div class="colo">
    <h2>Bulldog</h2>
  </div>
  <p class="par">
    The Bulldog is a British breed of dog of mastiff type. It may also be known as the English Bulldog or
     British Bulldog. It is a medium sized, muscular dog of around 40–55 lb (18–25 kg). They have large heads 
     with thick folds of skin around the face and shoulders, and a relatively flat face with a protruding lower
      jaw. The breed has significant health issues as a consequence of breeding for its distinctive appearance,
       including brachycephalia, hip dysplasia, heat sensitivity, and skin infections. Due to concerns about 
       their quality of life, breeding Bulldogs is illegal in Norway and the Netherlands.
   <br>
The modern Bulldog was bred as a companion dog from the Old English Bulldog, a now-extinct breed used for 
bull-baiting, when the sport was outlawed in England under the Cruelty to Animals Act. The Bulldog Club 
(In England) was formed in 1878, and the Bulldog Club of America was formed in 1890. While often used as a
 symbol of ferocity and courage, modern Bulldogs are generally friendly, amiable dogs. Bulldogs are now
  commonly kept as pets; in 2013 it was in twelfth place on a list of the breeds most frequently registered
   worldwide
  </p>

  <br>
  <br>
    <div class="colo">
    <h4><b>Height:</b>&nbsp;Female: 31–40 cm, Male: 31–40 cm</h4></div>
    <div class="colo">
      <h4><b>Life expectancy:</b> &nbsp;8 – 10 years</h4></div>
      <div class="colo">
        <h4><b>Colors:</b>&nbsp;White, Fawn, Piebald, Fawn & White, Brindle & White, Red & White, Red Brindle, Red</h4></div>
   
        <div class="colo">
          <h4><b>Origin:</b>&nbsp;United Kingdom, England</h4></div>
          <div class="colo">
            <h4><b>Scientific name:</b>&nbsp;Canis lupus familiaris</h4></div>
          

            <br>
            <div class="colo">
    <h2>Appearance</h2></div>   
  <p class="par">
    Bulldogs have characteristically wide heads and shoulders along with a pronounced mandibular prognathism.
     There are generally thick folds of skin on the brow; round, black, wide-set eyes; a short muzzle with
      characteristic folds called a rope or nose roll above the nose; hanging skin under the neck; drooping
       lips and pointed teeth, and an underbite with an upturned jaw. The coat is short, flat, and sleek with
        colours of red, fawn, white, brindle, and piebald. They have short tails that can either hang down
         straight or be tucked in a coiled "corkscrew" into a tail pocket.

In the United Kingdom, the breed standards are 55 lb (25 kg) for a male and 50 lb (23 kg) for a female.[19]
 In the United States, the standard calls for a smaller dog — a typical mature male weighs 50 lb (23 kg), 
 while mature females weigh about 40 lb (18 kg).
  </p>

  <hr>
  <br>
  <div class="colo">
    <h2>Temperament</h2>
  </div>
  <p class="par">
    According to the American Kennel Club (AKC), a Bulldog's disposition should be "equable and kind,
     resolute, and courageous (not vicious or aggressive), and demeanor should be pacifist and dignified. 
     These attributes should be countenanced by the expression and behavior".

Breeders have worked to remove aggression from the breed. Most have a friendly, patient, but stubborn nature
. Bulldogs are recognized as excellent family pets because of their tendency to form strong bonds with children.

Generally, Bulldogs are known for getting along well with children, other dogs, and other pets.
  </p>
  <br>
 <hr>
 
    <div class="colo">&nbsp;
    <h2>Diseases are common for Bulldogs</h2></div> 
    <p class="par"><b>Breathing problems:</b></p>
    <p class="par">Unfortunately, one of the most common issues with English bulldogs—and most dogs with
       characteristic “flat faces”—is difficulty breathing properly.

      English bulldogs, French bulldogs and pugs are all considered to be a part of the brachycephalic
       (flat-faced) breed, which is prone to breathing problems.
       <br>
       <img src="assets/bulldog/brbull1.jpg" style="height: 450px; width: 800px;padding-left: 90px;">
       <br>
      
      In extreme cases, the breed can develop Brachycephalic airway syndrome (BAS), which is caused by upper
       airway abnormalities that are unique to the brachycephalic breed, says Dr. Megan Conrad, D.V.M., a
        veterinary advisor at Hello Ralphie, a telehealth site for pets.</p> 


   <br>
    <p class="par"><b>skin and ear diseases. </b></p>
    <p class="par">Unfortunately, one of the most common issues with English bulldogs—and most dogs with
      characteristic “flat faces”—is difficulty breathing properly.

     English bulldogs, French bulldogs and pugs are all considered to be a part of the brachycephalic
      (flat-faced) breed, which is prone to breathing problems.
      <div class="bullb">
        <div class="norm">
     <img src="assets/bulldog/skbull1.jpg" style="height: 450px; width: 500px;">
      </div>
     
      <div class="norm2">
         <img src="assets/bulldog/earbull3.jpg" style="height: 410px; width: 700px;">
        </div>
        </div>
       
        <p class="par">
     
     In extreme cases, the breed can develop Brachycephalic airway syndrome (BAS), which is caused by upper
      airway abnormalities that are unique to the brachycephalic breed, says Dr. Megan Conrad, D.V.M., a
       veterinary advisor at Hello Ralphie, a telehealth site for pets.</p> 

    <p class="par"><b>eye disorders:</b></p>
    <p class="par">Prolapsed nictitating membrane gland (cherry eye)
      Keratoconjunctivitis sicca (dry eye)
      Entropion (in-turned eyelids)
      Of these three, English bulldog owners are most likely to see cherry eye, in which the dog’s third eyelid
       becomes mispositioned and results in a red or pink swollen mass in their eye.
      
      In some instances, cherry eye can actually correct itself. If it does not, then owners need to seek 
      immediate treatment. Left for too long, cherry eye can become increasingly more swollen and irritated.
      <br><br>
       <img src="assets/bulldog/eyebull4.jpg" style="height: 250px; width: 400px;padding-left: 90px;">
       <br><br>
      The severity of the cherry eye will determine if a surgical or non-surgical approach will be taken to
       alleviate the problem. In some cases, gentle massage can move the gland back into place.
      
      In extreme cases, the prolapsed gland will have to be replaced in a surgical procedure, according to
       the American College of Veterinary Ophthalmologists.</p>
<hr>
       <div class="colo">&nbsp;
        <h2>Most common cause of death in Bulldogs</h2></div> 
        &nbsp;
        <p class="par">Dog Breeds Most Likely to Die From <b>Respiratory Disease.</b>

          Another expected finding was the incidence of respiratory disease in Bulldogs. 
          Issues with the respiratory tract were shown to be a common cause of mortality in this breed.</p>
          <p class="par">The top five causes of sudden unexpected death among 151 dogs were, in order,
            <b>heart disease, toxicosis, gastrointestinal disease, trauma, and hemorrhage not associated with trauma</b></p>&nbsp;
      
</body>
</html>